
<head>
    <!-- Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- Firebase -->
    <script src="https://gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    <!-- VueFire -->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    
</head>
<html>
    <div id="app">
        <input v-model="query" placeholder="Enter query" v-show="!hasTicket">
        
        <button v-on:click="getHelp(query)" v-show="!hasTicket">Get Help</button>

        <div v-if="hasTicket">
            <h1>Ticket {{ticketId}}</h1>
            <h2>Status: {{stat(status)}}</h2>
            <h3>Update History:</h3>
            <p v-for="tmp in chat">{{tmp}}</p>
        </div>
    </div>
    <script src="user.js"></script>
</html>